.Sidebar {
  overflow: hidden;
  opacity: 0;
  transition-property: max-width, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  @media (min-width: 769px) {
    max-width: 0;
  }

  &--open {
    opacity: 1;

    @media (min-width: 769px) {
      max-width: 50%;
    }
  }
}

.root {
  height: 100%;
}

.section {
  min-height: 100vh;
  max-height: max-content;
}

.section {
  background-color: #5b566f;
  transition: 300ms;
}

.darkModeIsOn {
  background-color: #fffcfc;
  transition: 300ms;
}

.message-body {
  white-space: pre-line;
}

iframe {
  pointer-events: none;
}
